*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: #409d76;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .ear {
  position: absolute;
  top: 20;
  border-radius: 100%;
  width: 43px;
  height: 39px;
  background: #d9d9d9;
}
.face {
  border-radius: 50%;
  width: 314px;
  height: 285px;

  background: #d9d9d9;
}
.container .ear.left {
  left: 30px;
}
.container .ear.right {
  right: 30px;
}
.container .eyebrow {
  position: absolute;
  top: 88px;
  width: 46px;
  height: 6px;
  background: #000;
}

.container .eyebrow.left {
  left: 77px;
}

.container .eyebrow.right {
  right: 77px;
}
.container .eye {
  position: absolute;
  top: 102px;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background: #000;
  transition: all 0.2s;
}

.container .eye.left {
  left: 91px;
}

.container .eye.right {
  right: 91px;
}
.container .se {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 4px;
  top: 6px;
  border-radius: 100%;
  background: #fff;
}
.container .ball {
  position: absolute;
  width: 369px;
  height: 143px;
  top: 142px;
  left: 50%;
  background: #ffffff;
  border-radius: 600px;
}
